html, body {
    height: 100%;
}

body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    /*height: 57.61px;*/
}

.w-65 {
    width: 50%;
}

.w-features {
    width: 80%;
}

#editor main { 
    padding: 0;
}

#page-header {
    background-image: url("../img/landing_bg.jpg");
    background-size: cover;
}

#searchEngine {
    background-image: url("../img/scan_patient.jpg");
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#dragAndDrop {
    border: 2px dashed gray;
}

.cursor-pointer {
    cursor: pointer;
}